@charset "utf-8";

.body {
    width: 300px;
    height: 100px;
}

.button-group {
    display: flex;
}

.register-group{
    display: flex;
}

.test{
    border-top: soild 5px;
}

.button-group > *:not(:last-child) {
    margin-right: 10px;
}

